<!-- Include parts/head.html -->
{% include 'parts/header.html' %}


<div class="container">
    <h2>My Fields</h2>
    <div class="row mb-3">
        <div class="col-12">
            <a hx-boost="true" href="/field/create" class="btn btn-primary btn-lg">Add Field</a>
        </div>
    </div>

    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <!-- <p> Welcome, {{ auth_info.user }}. </p> -->
        <p> Welcome to the UConn Athletic Field Assessment Tool. Below, you can see the fields you have added. Click on "View" to review each field's history or to edit your assessment reports. </p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <!-- if message is set -->
    {% if message is defined %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}



    <div class="row">
        {% for row in rows %}
            <div class="col-md-4 mb-2">
                <!-- render components/field.html with the row data -->
                {% include 'components/field.html' with row %}
            </div>
        {% endfor %}
        <!-- empty state if there's no fields -->
        {% if rows is empty %}
            <div class="col-md-12">
                <div class="alert alert-info" role="alert">
                    You have no fields. <a href="/field/create">Add a field</a>
                </div>
            </div>
        {% endif %}
    </div>
</div>

<!-- Includ parts/footer.html -->
{% include 'parts/footer.html' %}