<h3>Edit Field Details</h3>
<form method="POST" action="/fields/{{ row.id }}">

  <div class="row">
    <div class="col-12">
      <!-- accordion #fieldInfo -->
      <div class="accordion-borderless" id="fieldInfo">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#fieldInfo-meta"
              aria-expanded="true">
              Field Info
            </button>
          </h2>
          <div id="fieldInfo-meta" class="accordion-collapse collapse show" data-bs-parent="#fieldInfo">
            <div class="accordion-body">
              <div class="row">
                <div class="mb-3">
                  <label for="name" class="form-label">Name:</label>
                  <input required type="text" id="name" class="form-control" name="name" value="{{ row.name }}">
                </div>

                <div class="mb-3">
                  <label for="address" class="form-label">Address:</label>
                  <input required type="text" id="address" class="form-control" name="address" value="{{ row.address }}">
                </div>

                <div class="row">
                  <div class="mb-3 col">
                    <label for="city" class="form-label">City:</label>
                    <input require type="text" id="city" class="form-control" name="city" value="{{ row.city }}">
                  </div>

                  <div class="mb-3 col">
                    <label for="state" class="form-label">State:</label>
                    <input require type="text" id="state" class="form-control" name="state" value="{{ row.state }}">
                  </div>

                  <div class="mb-3 col">
                    <label for="zip" class="form-label">Zip:</label>
                    <input required type="text" id="zip" class="form-control" name="zip" value="{{ row.zip }}">
                  </div>
                </div>
                <!-- color rating -->
                <div class="mb-3">
                  <label for="color_rating" class="form-label">Color Rating:</label>
                  <select required class="form-select" name="color_rating">
                    <option {% if row.color_rating == 5 %}selected{% endif %} value="5">Dark Green 5</option>
                    <option {% if row.color_rating == 4 %}selected{% endif %} value="4">Med Green 4</option>
                    <option {% if row.color_rating == 3 %}selected{% endif %} value="3">Med/Light Green 3</option>
                    <option {% if row.color_rating == 2 %}selected{% endif %} value="2">Light Green 2</option>
                    <option {% if row.color_rating == 1 %}selected{% endif %} value="1">Yellow Green 1</option>
                    <option {% if row.color_rating == 0 %}selected{% endif %} value="0">Turf Dormant TD</option>

                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- field usage information accordion item -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#fieldUsage-meta" aria-expanded="false">
              Field Usage
            </button>
          </h2>
          <div id="fieldUsage-meta" class="accordion-collapse collapse" data-bs-parent="#fieldInfo">
            <div class="accordion-body">
              <div class="row">
                <div class="form-group mb-3">
                  <label for="multiple_sport_usage">Multiple Sport Usage:</label>
                  <div class="form-check">
                    <input required class="form-check-input" type="radio" name="multiple_sport_usage"
                      id="multiple_sport_usage_yes" value="yes" {{ row.multiple_sport_usage=='yes' ? 'checked' : '' }}>
                    <label class="form-check-label" for="multiple_sport_usage_yes">
                      Yes
                    </label>
                  </div>
                  <div class="form-check">
                    <input required class="form-check-input" type="radio" name="multiple_sport_usage"
                      id="multiple_sport_usage_no" value="no" {{ row.multiple_sport_usage=='no' ? 'checked' : '' }}>
                    <label class="form-check-label" for="multiple_sport_usage_no">
                      No
                    </label>
                  </div>
                </div>

                <div class="mb-3">
                  <label for="sports_played" class="form-label">Sports Played:</label>
                  <select required class="form-select" name="sports_played[]" multiple>
                    <option value="baseball" {% if 'baseball' in row.sports_played %}selected{% endif %}>Baseball
                    </option>
                    <option value="soccer" {% if 'soccer' in row.sports_played %}selected{% endif %}>Soccer</option>
                    <option value="football" {% if 'football' in row.sports_played %}selected{% endif %}>Football
                    </option>
                    <option value="lacrosse" {% if 'lacrosse' in row.sports_played %}selected{% endif %}>Lacrosse
                    </option>
                    <option value="rugby" {% if 'rugby' in row.sports_played %}selected{% endif %}>Rugby</option>
                    <option value="field hockey" {% if 'field hockey' in row.sports_played %}selected{% endif %}>Field
                      Hockey</option>
                      <!-- class: in-school use -->
                    <option value="class" {% if 'class' in row.sports_played %}selected{% endif %}>Class: In-School Use</option>

                  </select>
                </div>

                <!-- traffic events per week -->
                <div class="mb-3">
                  <label for="traffic_events_per_week" class="form-label">Traffic Events Per Week:</label>
                  <select>
                    <option>0-2 per week</option>
                    <option>3-5 per week</option>
                    <option>6+ per week</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- establishment information accordion item -->
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#establishment-meta" aria-expanded="false">
              Establishment Info
            </button>
          </h2>
          <div id="establishment-meta" class="accordion-collapse collapse" data-bs-parent="#fieldInfo">
            <div class="accordion-body">
              <div class="row">
                <div class="form-group mb-3">
                  <label for="turfgrass_species_present">Turfgrass Species Present:</label>
                  <select required class="form-select" name="turfgrass_species_present[0]" multiple>
                    <option value="tall fescue" {% if 'tall fescue' in row.turfgrass_species_present %}selected{% endif %}>
                      Tall Fescue
                    </option>
                    <option value="fine leaf fescue" {% if 'fine leaf fescue' in row.turfgrass_species_present %}selected{% endif %}>Fine Leaf Fescue
                    </option>
                    <option value="perennial rye" {% if 'perennial ryegrass' in row.turfgrass_species_present %}selected{% endif %}>Perennial Ryegrass
                    </option>
                    <option value="kentucky bluegrass" {% if 'kentucky bluegrass' in row.turfgrass_species_present %}selected{% endif %}>
                      Kentucky Bluegrass</option>
                    <option value="other" {% if 'other' in row.turfgrass_species_present %}selected{% endif %}>Other
                    </option>
                  </select>

                  <div class="row mt-3">
                    <div class="mb-3 col">
                      <label for="establishment_method" class="form-label">Establishment Method:</label>
                      <input type="text" class="form-control" name="establishment_method"
                        value="{{ row.establishment_method }}">
                    </div>

                    <div class="mb-3 col">
                      <label for="establishment_date" class="form-label">Establishment Date:</label>
                      <input type="date" id="establishment_date" class="form-control" name="establishment_date"
                        value="{{ row.establishment_date }}">
                    </div>

                    <div class="mb-3 col">
                      <label for="shade_or_sun" class="form-label">Shade or Sun:</label>
                      <input type="text" class="form-control" name="shade_or_sun" value="{{ row.shade_or_sun }}">
                    </div>

                    <div class="mb-3 col">
                      <label for="percent_shade" class="form-label">Percent Shade:</label>
                      <input type="text" class="form-control" name="percent_shade" value="{{ row.percent_shade }}">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--mowing practices -->

        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#mowing-meta" aria-expanded="false">
              Mowing Practices
            </button>
          </h2>
          <div id="mowing-meta" class="accordion-collapse collapse">

            <div class="accordion-body">
              <div class="row">
                <div class="form-group mb-3">

                  <div class="mb-3">
                    <label for="mowing_frequency" class="form-label">Mowing Frequency:</label>
                    <input type="text" class="form-control" name="mowing_frequency" value="{{ row.mowing_frequency }}">
                  </div>

                  <div class="mb-3">
                    <label for="mowing_height" class="form-label">Mowing Height:</label>
                    <input type="text" class="form-control" name="mowing_height" value="{{ row.mowing_height }}">
                  </div>

                  <!-- mowing method -->

                  <div class="mb-3">
                    <label for="mowing_method" class="form-label">Mowing Method:</label>
                    <select required class="form-select" name="mowing_method">
                      <option value="rotary" {% if 'rotary' in row.mowing_method %}selected{% endif %}>Rotary</option>
                      <option value="reel" {% if 'reel' in row.mowing_method %}selected{% endif %}>Reel</option>
                      <option value="both" {% if 'both' in row.mowing_method %}selected{% endif %}>Both</option>
                    </select>
                  </div>

                  <!-- are clippings collected? -->
                  <div class="mb-3">
                    <label for="clippings_collected" class="form-label">Clippings Collected:</label>
                    <select required class="form-select" name="clippings_collected">
                      <option value="yes" {% if 'yes' in row.clippings_collected %}selected{% endif %}>Yes</option>
                      <option value="no" {% if 'no' in row.clippings_collected %}selected{% endif %}>No</option>
                    </select>
                  </div>

                </div>
              </div>
            </div>
          </div>

        </div>
        <!--irrigation practices -->

        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#irrigation-meta" aria-expanded="false">
              Irrigation Practices
            </button>
          </h2>
          <div id="irrigation-meta" class="accordion-collapse collapse">

            <div class="accordion-body">
              <div class="row">
                <div class="form-group mb-3">

                  <div class="mb-3">
                    <label for="irrigation_frequency" class="form-label">Water Source</label>
                    <input type="text" class="form-control" name="irrigation_frequency"
                      value="{{ row.irrigation_frequency }}">
                  </div>

                  <div class="mb-3">
                    <label for="irrigation_amount" class="form-label">Irrigation Amount:</label>
                    <input type="text" class="form-control" name="irrigation_amount"
                      value="{{ row.irrigation_amount }}">
                  </div>

                  <!-- irrigation method -->

                  <div class="mb-3">
                    <label for="irrigation_method" class="form-label">Irrigation Method:</label>
                    <select required class="form-select" name="irrigation_method">
                      <option value="drip" {% if 'drip' in row.irrigation_method %}selected{% endif %}>Drip</option>
                      <option value="sprinkler" {% if 'sprinkler' in row.irrigation_method %}selected{% endif %}>
                        Sprinkler</option>
                      <option value="flood" {% if 'flood' in row.irrigation_method %}selected{% endif %}>Flood</option>
                    </select>
                  </div>

                  <!-- irrigation timing -->
                  <div class="mb-3">
                    <label for="irrigation_timing" class="form-label">Irrigation Timing:</label>
                    <select required class="form-select" name="irrigation_timing">
                      <option value="morning" {% if 'morning' in row.irrigation_timing %}selected{% endif %}>Morning
                      </option>
                      <option value="evening" {% if 'evening' in row.irrigation_timing %}selected{% endif %}>Evening
                      </option>
                      <option value="night" {% if 'night' in row.irrigation_timing %}selected{% endif %}>Night</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- end accordion item -->
      </div> <!-- end accordion -->
    </div> <!-- end col-12 -->
  </div> <!-- end row -->

<!--cultivation practices -->

<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
      data-bs-target="#cultivation-meta" aria-expanded="false">
      Cultivation Practices
    </button>
  </h2>
  <div id="cultivation-meta" class="accordion-collapse collapse">

    <div class="accordion-body">
      <div class="row">
        <div class="form-group mb-3">
         
          <div class="mb-3">
            <label for="cultivation_type" class="form-label">Cultivation Type:</label>
            <select required class="form-select" name="cultivation_type">
              <option value="aeration" {% if 'aeration' in row.cultivation_type %}selected{% endif %}>Aeration</option>
              <option value="dethatching" {% if 'dethatching' in row.cultivation_type %}selected{% endif %}>Dethatching</option>
              <option value="scarification" {% if 'scarification' in row.cultivation_type %}selected{% endif %}>Scarification</option>
              <option value="topdressing" {% if 'topdressing' in row.cultivation_type %}selected{% endif %}>Topdressing</option>
              <option value="none" {% if 'none' in row.cultivation_type %}selected{% endif %}>None</option>
            </select>
          </div>

          <div class="mb-3">
            <label for="cultivation_frequency" class="form-label">Cultivation Frequency:</label>
            <input type="text" class="form-control" name="cultivation_frequency" value="{{ row.cultivation_frequency }}">
          </div>

        </div>
      </div>
    </div>
  </div>
</div>



  <div class="row my-5">
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </div>
</form>


<div class="form_response">

</div>