/** Slabo Font **/
@import url(//fonts.googleapis.com/css?family=Slabo+27px);

/** import open sans font **/
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);

/** import material design icons **/
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);



/** set up color classes **/
html {
  overflow-y: scroll;
  font-family: 'Open Sans', sans-serif;
 
}

label {
  font-weight: 600;

}

input[type="radio"], label {
  cursor: pointer;
}
/* Primary color */
.text-primary {
    color: #00703C!important;
  }
  .background-primary {
    background-color: #00703C!important;
  }
  
  /* Secondary color */
  .text-secondary {
    color: #9FD356!important;
  }
  .background-secondary {
    background-color: #9FD356!important;
  }
  
  /* Accent color */
  .text-accent {
    color: #FDB813!important;
  }
  .background-accent {
    background-color: #FDB813!important;
  }
  
  /* Neutral color */
  .text-neutral {
    color: #F5F5F5!important;
  }
  .background-neutral {
    background-color: #F5F5F5!important;
  }
  
h1,h2,h3,h4,h5,h6, .accordion-button {
    font-weight: 600;
}


body {
    font-family: 'Open Sans', sans-serif;

    background:url(../turf1.png);
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
}

main#app {
    background-color:#fff;
    padding:25px;
    /** material design box-shadow **/
    box-shadow:0 1px 3px rgba(0,0,0,.38), 0 1px 2px rgba(0,0,0,.24);
    -webkit-box-shadow:0 1px 3px rgba(0,0,0,.38), 0 1px 2px rgba(0,0,0,.24);
}

.field-lede {
  position: sticky;
  top:55px;
  margin-bottom:25px;
}

.accordion-item.invalid button{
  color: #d9534f!important;
}

.coverage-input {
  display: none;
}

.print-mode {
  display: none;
}

.mobile-mode {
    display: none;
}

@media screen and (max-width: 1000px) {
    .col-3{
        width: 100%;
    }

    .col-4 {
        width: 100%;
    }

    .show-full-table-mobile { 
        display: none;
    }
    
    .mobile-mode {
    display: block;
    }
}


@media print {
    .btn, .btn-close, .dropdown-menu, a[href], form, .alert, .th-hide {
        display: none !important;
    }

    body, .row, .col-md-3, .col-md-9 {
        margin: 0;
        padding: 0;
    }

    .col-md-9 {
        width: 100% !important;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        font-size: 12px;
    }

    table th, table td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    h4 {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    body {
        font-family: Arial, sans-serif;
        font-size: 14px;
        color: #000;
    }

    a {
        color: #000;
        text-decoration: none;
    }

    tr {
        page-break-inside: avoid;
    }

    .show-full-table { 
      display: none;
    }
  
    .print-mode {
      display: block !important;
    }

}