<!-- Include parts/head.html -->
{% include 'parts/header.html' %}


<div class="container">
    <h2>My Fields</h2>
    <div class="row mb-3">
        <div class="col-12">
            <a href="/field/create" class="btn btn-primary">Add Field</a>
        </div>
    </div>
    <div class="row">
        {% for row in rows %}
            <div class="col-4 mb-2">
                <!-- render components/field.html with the row data -->
                {% include 'components/field.html' with row %}
            </div>
        {% endfor %}
    </div>
</div>

<!-- Includ parts/footer.html -->
{% include 'parts/footer.html' %}