{% include 'parts/header.html' %}
<div class="row">
        <div class="col-3">
            <!-- material design edit icon -->
            
            <div class="field-lede">
                <!-- Back to Fields -->
                <a href="/fields" class="btn mb-2 btn-outline-secondary">&laquo; Fields</a>
                <h2> {{ field.name }}</h2>
                <address>{{field.address }} {{field.city}} , {{field.state}} {{field.zip}}</address>
                <!-- button group for view or edit-->
                <div class="btn-group" role="group">
                    <a class="btn btn-secondary {% if edit == true %} active {% endif %}"  href="/fields/{{ field.id }}/edit">Edit</a>
                    <a class="btn btn-secondary {% if edit == false %} active {% endif %}" href="/fields/{{ field.id }}/history">History</a>
                </div>
            </div>
        </div>
        


        <div class="col-9">
              <!-- if it's the edit template, include edit form -->
            {% if edit == true %}
                {% include 'components/field-edit.html' with {'row' : field } %}

            {% endif %}

            {% if edit == false %}
                <h3>Field History</h3>
                <!-- dropdown button for "Add Report" with options of "Turf Assessment" and "Fertilization Event"-->
                <div class="btn-group float-end">
                    <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                        Add Report
                        <span class="visually-hidden">Add Report</span>
                    </button>
                    <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Fertilization Event</a></li>
                    <li><a class="dropdown-item" href="/fields/{{ field.id }}/turf-rating">Turf Rating</a></li>
                    </ul>
                </div>
                


                <!-- table looping through evaluations (evaluation_date, evaluator_id, field_id, percent_turf_covered, percent_weeds, stones_at_surface, depressions, turf_rating, surface_rating) -->
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Turf Rating</th>
                            <th scope="col">Surface Rating</th>
                            <th scope="col">Percent Turf Covered</th>
                            <th scope="col">Percent Weeds</th>
                            <th scope="col">Stones at Surface</th>
                            <th scope="col">Depressions</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for evaluation in evaluations %}
                        <tr>
                            <td>{{ evaluation.evaluation_date }}</td>
                            <td>{{ evaluation.turf_rating }}</td>
                            <td>{{ evaluation.surface_rating }}</td>
                            <td>{{ evaluation.percent_turf_covered }}</td>
                            <td>{{ evaluation.percent_weeds }}</td>
                            <td>{{ evaluation.stones_at_surface }}</td>
                            <td>{{ evaluation.depressions }}</td>
                            <td>
                                <a href="/fields/{{ field.id }}/evaluations/{{ evaluation.id }}/edit" class="btn btn-outline-secondary btn-sm">Edit</a>
                                <a href="/fields/{{ field.id }}/evaluations/{{ evaluation.id }}/delete" class="btn btn-outline-secondary btn-sm">Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
                
                {% endif %}
            </div>



            </div>
          

            <!-- Include parts/footer.html -->
            {% include 'parts/footer.html' %}