{% include 'parts/header.html' %}


<div class="row">
    <div class="col-3">
        <!-- material design edit icon -->



        <div class="field-lede">
            <!-- Back to Fields -->
            <a href="/fields" class="btn mb-2 btn-outline-secondary">&laquo; Back To Fields</a>

            <!-- if the field id is not 0 -->
            {% if field.id != 0 %}

            <!-- card of field info -->
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ field.name }}</h5>
                    {% if field.address %}
                    <p class="card-text">{{ field.address }}, {{field.city}}, {{field.state}}</p>

                    {% else %}
                    <p class="card-text">No address provided</p>
                    {% endif %}


                </div>
                <div class="card-footer">

                    <a href="/fields/{{ field.id }}" class="
                        {% if edit == false %} active {% endif %}
                        btn btn-sm btn-outline-secondary">
                        <!-- bs info icoon-->
                        <i class="bi-info-circle"></i>
                        View Field Reports</a>


                    <a href="/fields/{{ field.id }}/edit" class="
                        btn btn-sm btn-outline-secondary {% if edit == true %} active {% endif %}">
                        <i class="bi-pencil"></i>
                        Edit</a>

                </div>
            </div>



            {% endif %}
        </div>


    </div>



    <div class="col-9">
        <!-- if there is a message variable, display a dismissable alert -->
        {% if message is defined %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}

        <!-- if it's the edit template, include edit form -->
        {% if edit == true %}
        {% include 'components/field-edit.html' with {'row' : field } %}

        {% endif %}

        {% if edit == false %}

        <div class="row mb-4">
            <div class="col-12 d-flex">
                <!-- dropdown button for "Add Report" with options of "Turf Assessment" and "Fertilization Event"-->
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle btn-lg dropdown-toggle-split"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Add Report
                        <span class="visually-hidden">Add Report</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/fields/{{ field.id }}/submit-photo">Add a Photo</a></li>
                        <li><a class="dropdown-item" href="/fields/{{ field.id }}/submit-cultivation">Cultivation Report</a></li>
                        <li><a class="dropdown-item" href="/fields/{{ field.id }}/submit-fertilization">Fertilization Report</a></li>
                        <li><a class="dropdown-item" href="/fields/{{ field.id }}/quality-checklist">Turf Quality Rating</a></li>
                        <li><a class="dropdown-item" href="/fields/{{ field.id }}/submit-overseeding">Overseeding Report</a></li>
                        <li><a class="dropdown-item" href="/fields/{{ field.id }}/submit-pest">Pest Management</a></li>
                        <li><a class="dropdown-item" href="/fields/{{ field.id }}/submit-color">Color Report</a></li>
                        <li><a class="dropdown-item" href="/fields/{{ field.id }}/submit-soil">Soil Test</a></li>
                        <li><a class="dropdown-item" href="/fields/{{ field.id }}/submit-thatch">Thatch Accumulation</a></li>
                        <li><a class="dropdown-item" href="/fields/{{ field.id }}/submit-topdressing">Topdressing Report</a></li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-12">
                <h4>Report History</h4>
            </div>
            <div class="col-12">
                <p>Below is a list of all reports for this field. Click on a report to view more details.</p>

                <!-- filter reports by type and date range -->

                <form action="/fields/{{ field.id }}" method="get" hx-trigger="change">
                    <div class="row my-3">
                        <div class="col-4">
                            <label for="type" class="form-label">Filter by Type</label>
                            <select 
                            hx-get="/fields/{{ field.id }}?type={{value}}"
                            hx-trigger="change"
                            hx-target="#report_results"
                            hx-select="#report_results"
                            class="form-select" name="type" id="type">
                                <option value="">All</option>
                                <option value="evaluation">Turf Assessment</option>
                                <option value="fertilization">Fertilization Event</option>
                                <option value="color">Color Report</option>
                                <option value="topdressing">Topdressing Report</option>
                                <option value="photo">Photo Report</option>
                                <option value="pest">Pest Management</option>
                            </select>
                        </div>
                        <div class="col-4">
                            <label for="start_date" class="form-label">Start Date</label>
                            <input type="date" class="form-control" name="start_date" id="start_date">
                        </div>
                        <div class="col-4">
                            <label for="end_date" class="form-label">End Date</label>
                            <input type="date" class="form-control" name="end_date" id="end_date">
                        </div>
                    </div>
                </form>


                <!-- combined table of evaluations, pest management reports, color reports and photo reports  (just date, type, and evaluator name)-->
                <table id="report_results" class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Type</th>
                            <th scope="col">Evaluator</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for report in reports %}
                        <tr>
                            <td>{{ report.evaluation_date }}</td>
                            <td>{{ report.type|capitalize }}</td>
                            <td>{{ report.email }}</td>
                            <td>
                                <a href="/report/{{ report.id }}/view" class="btn btn-md btn-outline-primary">View
                                    Report</a>
                                <!-- delete -->
                                <form class="d-inline" action="/report/{{ report.id }}/delete" method="post">
                                    <input type="hidden" name="id" value="{{ report.id }}">
                                    <button type="submit" class="btn btn-sm btn-link text-danger">
                                        <i class="bi-trash"></i> <!-- material design trash icon -->
                                        Delete Report
                                    </button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
                <!-- extra action buttons like delete -->
                <div class="btn-group">
                    <form class="d-inline" action="/fields/{{ field.id }}/delete" method="post">
                        <input type="hidden" name="id" value="{{ field.id }}">
                        <button type="submit" class="btn btn-sm btn-link text-danger">
                            <i class="bi-trash"></i> <!-- material design trash icon -->
                            Delete Field
                        </button>
                    </form>
                </div>
                {% endif %}

            </div>
        </div>
    </div>
</div>


<!-- Include parts/footer.html -->
{% include 'parts/footer.html' %}