{% include 'parts/header.html' %}
<div class="row">
        <div class="col-3">
            <!-- material design edit icon -->
            


            <div class="field-lede">
                <!-- Back to Fields -->
                <a href="/fields" class="btn mb-2 btn-outline-secondary">&laquo; Fields</a>
                            <!-- if the field id is set -->
                {% if field.id is defined %}
                <h2> {{ field.name }}</h2>
                <address>{{field.address }} {{field.city}} , {{field.state}} {{field.zip}}</address>
                <!-- button group for view or edit-->
                <div class="btn-group" role="group">
                    <a class="btn btn-secondary {% if edit == true %} active {% endif %}"  href="/fields/{{ field.id }}/edit">Edit</a>
                    <a class="btn btn-secondary {% if edit == false %} active {% endif %}" href="/fields/{{ field.id }}/history">History</a>
                    <!-- color report -->
                </div>
                {% endif %}
            </div>

           
        </div>
        


        <div class="col-9">
            <!-- if there is a message variable, display a dismissable alert -->
            {% if message is defined %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}

              <!-- if it's the edit template, include edit form -->
            {% if edit == true %}
                {% include 'components/field-edit.html' with {'row' : field } %}

            {% endif %}

            {% if edit == false %}
                <h3>Field Reports</h3>
                <!-- dropdown button for "Add Report" with options of "Turf Assessment" and "Fertilization Event"-->
                <div class="btn-group float-end">
                    <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                        Add Report
                        <span class="visually-hidden">Add Report</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/fields/{{ field.id }}/quality-checklist">Quality Checklist</a></li>
                        <li><a class="dropdown-item" href="#">Pest Management</a></li>
                        <li><a class="dropdown-item" href="/fields/{{field.id}}/submit-color">Color Report</a></li>
                        <li><a class="dropdown-item" href="/fields/{{field.id}}/submit-photo">Add a Photo</a></li>
                    </ul>
                </div>
                


                <!-- combined table of evaluations, pest management reports, color reports and photo reports  (just date, type, and evaluator name)-->
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Type</th>
                            <th scope="col">Evaluator</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for report in reports %}
                        <tr>
                            <td>{{ report.evaluation_date }}</td>
                            <td>{{ report.type }}</td>
                            <td>{{ report.email }}</td>
                            <td>
                                <a href="/report/{{ report.id }}/view" class="btn btn-sm btn-outline-secondary">View</a>
                            </td>
                        </tr>
                        {% endfor %}

                        <!-- sample data for now -->
                        <!-- <tr>
                            <td>23 May 2023</td>
                            <td>Quality Checklist</td>
                            <td>John Doe</td>
                        </tr>
                        <tr>
                            <td>20 May 2023</td>
                            <td>Color Report</td>
                            <td>John Doe</td>
                        </tr>

                        <tr>
                            <td>18 May 2023</td>
                            <td>Pest Management Report</td>
                            <td>Joel Salisbury</td>
                        </tr> -->
                    </tbody>
                
                {% endif %}
            </div>



            </div>
          

            <!-- Include parts/footer.html -->
            {% include 'parts/footer.html' %}