{% include 'parts/header.html' %}
<div class="row">
    <div class="col-3">
        <!-- material design edit icon -->
        


        <div class="field-lede">
            <!-- Back to Fields -->
            <a href="/fields/{{field.id}}" class="btn mb-2 btn-outline-secondary">&laquo; Back To Field</a>
                        <!-- if the field id is set -->
            {% if field.id is defined %}

           <!-- card of field info -->
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ field.name }}</h5>
                    {% if field.address %}
                    <p class="card-text">{{ field.address }}, {{field.city}}, {{field.state}}</p>
         
                  {% else %}
                    <p class="card-text">No address provided</p>
                    {% endif %}

                    
                </div>
                <div class="card-footer">
                   
                    <a href="/fields/{{ field.id }}" class="
                    {% if edit == false %} active {% endif %}
                    btn btn-sm btn-outline-secondary">
                        <!-- bs info icoon-->
                        <i class="bi-info-circle"></i>
                        View Field Reports</a>


                    <a href="/fields/{{ field.id }}/edit" class="
                    btn btn-sm btn-outline-secondary {% if edit == true %} active {% endif %}">
                    <i class="bi-pencil"></i>
                    Edit</a>

                </div>
            </div>



            {% endif %}
        </div>

       
    </div>

    <div class="col-9">
        <form method="post" action="" enctype="multipart/form-data">
            <div class="row">
                <div class="col-12">
                    <h3>Submit Soil Test Report</h3>
                </div>

                <!-- soil test form: date, action taken  -->

                <div class="col-12">

                    <!-- field for date -->
                    <div class="mb-3">
                        <label for="date" class="form-label">Date</label>
                        <!-- default to today's date -->
                        <input type="date" class="form-control" id="date" name="date" value="{{ "now"|date("Y-m-d") }}">
                    </div>

                    <!-- field for action taken -->
                    <div class="mb-3">
                        <label for="action_taken" class="form-label">Action Taken</label>
                        <input type="text" class="form-control" id="action_taken" name="action_taken">
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <!-- submit button -->
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>


<!-- Include parts/footer.html -->
{% include 'parts/footer.html' %}