{% include 'parts/header.html' %}
<div class="row">
    <div class="col-3">
        <!-- material design edit icon -->

        <div class="field-lede">
            <!-- Back to Fields -->
            <a href="/fields" class="btn mb-2 btn-outline-secondary">&laquo; Fields</a>
            <h2> {{ field.name }}</h2>

            {% if field.address %}
            <address>{{field.address }} {{field.city}} , {{field.state}} {{field.zip}}</address>
            {% endif %}
            <!-- button group for view or edit-->
            <div class="btn-group" role="group">
                <a class="btn btn-secondary {% if edit == true %} active {% endif %}"
                    href="/fields/{{ field.id }}/edit">Edit</a>
                <a class="btn btn-secondary {% if edit == false %} active {% endif %}"
                    href="/fields/{{ field.id }}">History</a>
            </div>
        </div>
    </div>

    <div class="col-9">
        <form method="post" action="" enctype="multipart/form-data">
            <div class="row">
                <div class="col-12">
                    <h3>Submit Overseeding Report</h3>
                </div>

                <!-- overseeding form: date, rate, formula, pre_germ, species -->

                <div class="col-12">

                    <!-- field for date -->
                    <div class="mb-3">
                        <label for="date" class="form-label">Date</label>
                        <input type="date" class="form-control" id="date" name="date">
                    </div>

                    <!-- field for rate -->
                    <div class="mb-3">
                        <label for="rate" class="form-label">Rate</label>
                        <input type="text" class="form-control" id="rate" name="rate">
                    </div>

                    <!-- field for formula -->
                    <div class="mb-3">
                        <label for="formula" class="form-label">Formula</label>
                        <input type="text" class="form-control" id="formula" name="formula">
                    </div>

                    <!-- field for pre_germ (select) -->
                    <div class="mb-3">
                        <label for="pre_germ" class="form-label
                        ">Pre-Germ Y/N</label>
                        <select class="form-select" id="pre_germ" name="pre_germ">
                            <option value="no">No</option>
                            <option value="yes">Yes</option>
                        </select>
                    </div>

                    <!-- field for species -->
                    <!--Tall fescue  

Perennial Ryegrass  

Kentucky Bluegrass 

Fine Fescue  

Other  

checkboxes
-->
                    <div class="mb-3">
                        <label for="species" class="form-label">Species</label>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="tall_fescue" name="species[]" value="tall_fescue">
                            <label for="tall_fescue">Tall fescue</label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="perennial_ryegrass" name="species[]" value="perennial_ryegrass">
                            <label for="perennial_ryegrass">Perennial Ryegrass</label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="kentucky_bluegrass" name="species[]" value="kentucky_bluegrass">
                            <label for="kentucky_bluegrass">Kentucky Bluegrass</label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="fine_fescue" name="species[]" value="fine_fescue">
                            <label for="fine_fescue">Fine Fescue</label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="other" name="species[]" value="other">
                            <label for="other">Other</label><br>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <!-- submit button -->
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>


<!-- Include parts/footer.html -->
{% include 'parts/footer.html' %}