{% include 'parts/header.html' %}
<div class="row">
    <div class="col-md-3">
        <!-- material design edit icon -->
        


        <div class="field-lede">
            <!-- Back to Fields -->
            <a href="/fields/{{field.id}}" class="btn mb-2 btn-outline-secondary">&laquo; Back To Field</a>
                        <!-- if the field id is set -->
            {% if field.id is defined %}

           <!-- card of field info -->
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ field.name }}</h5>
                    {% if field.address %}
                    <p class="card-text">{{ field.address }}, {{field.city}}, {{field.state}}</p>
         
                  {% else %}
                    <p class="card-text">No address provided</p>
                    {% endif %}

                    
                </div>
                <div class="card-footer">
                   
                    <a href="/fields/{{ field.id }}" class="
                    {% if edit == false %} active {% endif %}
                    btn btn-sm btn-outline-secondary">
                        <!-- bs info icoon-->
                        <i class="bi-info-circle"></i>
                        View Field Reports</a>


                    <a href="/fields/{{ field.id }}/edit" class="
                    btn btn-sm btn-outline-secondary {% if edit == true %} active {% endif %}">
                    <i class="bi-pencil"></i>
                    Edit</a>

                </div>
            </div>



            {% endif %}
        </div>

       
    </div>

    <div class="col-md-9">
        <form method="post" action="" enctype="multipart/form-data">
            <div class="row">
                <div class="col-12">
                    <h3>Submit Pest Management Report</h3>
                </div>

                <!-- pest management form: date, broadleaf weeds, grassy weeds, insects, disease -->

                <div class="col-12">

                    <!-- field for date -->
                    <div class="mb-3">
                        <label for="date" class="form-label">Date Of Action</label>
                        <input type="date" class="form-control" id="date" name="date" value="{{ "now"|date("Y-m-d") }}">
                    </div>

                    <!-- field for Broadleaf Weeds -->
                    <!--Dandelion 
                        Narrowleaf Plantain 
                        Broadleaf Plantain 
                        Heal-all 
                        Common Chickweed	 
                        Oxalis 
                        Spurge 
                        Knotweed 
                        Ground Ivy 
                        Violet	 
                        Mouse ear chickweed 
                        Clover (white) 
                        Speedwell	 
                        Other/comment: 
                        checkboxes -->
                    <div class="mb-3">
                        <label for="pest" class="form-label">Broadleaf Weeds</label>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="dandelion" name="broadleaf_dandelion" value="dandelion">
                            <label for="dandelion">Dandelion</label>
                            <input type="text" id="dandelion_coverage" name="broadleaf_dandelion_percent" placeholder="% Coverage /1,000 sq. ft" class="coverage-input form-control">
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="narrowleaf_plantain" name="narrowleaf_plantain" value="narrowleaf_plantain">
                            <label for="narrowleaf_plantain">Narrowleaf Plantain</label>
                            <input type="text" id="narrowleaf_plantain_coverage" name="narrowleaf_plantain_percent" placeholder="% Coverage /1,000 sq. ft" class="coverage-input form-control">
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="broadleaf_plantain" name="broadleaf_plantain" value="broadleaf_plantain">
                            <label for="broadleaf_plantain">Broadleaf Plantain</label>
                            <input type="text" id="broadleaf_plantain_coverage" name="broadleaf_plantain_percent" placeholder="% Coverage /1,000 sq. ft" class="coverage-input form-control">
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="heal_all" name="heal_all" value="heal_all">
                            <label for="heal_all">Heal-all</label>
                            <input type="text" id="heal_all_coverage" name="heal_all_percent" placeholder="% Coverage /1,000 sq. ft" class="coverage-input form-control">
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="common_chickweed" name="common_chickweed" value="common_chickweed">
                            <label for="common_chickweed">Common Chickweed</label>
                            <input type="text" id="common_chickweed_coverage" name="common_chickweed_percent" placeholder="% Coverage /1,000 sq. ft" class="coverage-input form-control">
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="oxalis" name="oxalis" value="oxalis">
                            <label for="oxalis">Oxalis</label>
                            <input type="text" id="oxalis_coverage" name="oxalis_percent" placeholder="% Coverage /1,000 sq. ft" class="coverage-input form-control">
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="spurge" name="spurge" value="spurge">
                            <label for="spurge">Spurge</label>
                            <input type="text" id="spurge_coverage" name="spurge_percent" placeholder="% Coverage /1,000 sq. ft" class="coverage-input form-control">
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="knotweed" name="knotweed" value="knotweed">
                            <label for="knotweed">Knotweed</label>
                            <input type="text" id="knotweed_coverage" name="knotweed_percent" placeholder="% Coverage /1,000 sq. ft" class="coverage-input form-control">
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="ground_ivy" name="ground_ivy" value="ground_ivy">
                            <label for="ground_ivy">Ground Ivy</label>
                            <input type="text" id="ground_ivy_coverage" name="ground_ivy_percent" placeholder="% Coverage /1,000 sq. ft" class="coverage-input form-control">
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="violet" name="violet" value="violet">
                            <label for="violet">Violet</label>
                            <input type="text" id="violet_coverage" name="violet_percent" placeholder="% Coverage /1,000 sq. ft" class="coverage-input form-control">
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="mouse_ear_chickweed" name="mouse_ear_chickweed" value="mouse_ear_chickweed">
                            <label for="mouse_ear_chickweed">Mouse Ear Chickweed</label>
                            <input type="text" id="mouse_ear_chickweed_coverage" name="mouse_ear_chickweed_percent" placeholder="% Coverage /1,000 sq. ft" class="coverage-input form-control">
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="clover" name="clover_white" value="clover">
                            <label for="clover">Clover (White)</label>
                            <input type="text" id="clover_coverage" name="clover_white_percent" placeholder="% Coverage /1,000 sq. ft" class="coverage-input form-control">
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="speedwell" name="speedwell" value="speedwell">
                            <label for="speedwell">Speedwell</label>
                            <input type="text" id="speedwell_coverage" name="speedwell_percent" placeholder="% Coverage /1,000 sq. ft" class="coverage-input form-control">
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="other_broadleaf" name="other" value="other_broadleaf">
                            <label for="other_broadleaf">Other</label><br>
                            <input type="text" id="other_broadleaf_coverage" name="other_percent" placeholder="% Coverage /1,000 sq. ft" class="coverage-input form-control">
                        </div>

                        <!-- field for Control/Treatment -->
                        <div class="mb-3">
                            <label for="control_broadleaf" class="form-label">Control/Treatment</label>
                            <input type="text" class="form-control" id="control_broadleaf" name="broadleaf_control">
                        </div>

                    </div>

                    <!-- field for Grassy Weeds -->
                    <!--Crabgrass 
                        Poa annua 
                        Quackgrass		 
                        Goosegrass 
                        Poa trivialis 
                        Bentgrass 
                        Tall Fescue	  
                        Yellow Nutsedge  
                        Orchardgrass 
                        Other/comment: 
                        checkboxes -->

                    <div class="mb-3">
                        <label for="pest" class="form-label">Grassy Weeds</label>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="crabgrass" name="crabgrass" value="crabgrass">
                            <label for="crabgrass">Crabgrass</label>
                            <input type="text" id="crabgrass_coverage" name="crabgrass_percent" placeholder="% Coverage /1,000 sq. ft" class="coverage-input form-control">
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="poa_annua" name="poa_annua" value="poa_annua">
                            <label for="poa_annua">Poa Annua</label>
                            <input type="text" id="poa_annua_coverage" name="poa_annua_percent" placeholder="% Coverage /1,000 sq. ft" class="coverage-input form-control">
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="quackgrass" name="quackgrass" value="quackgrass">
                            <label for="quackgrass">Quackgrass</label>
                            <input type="text" id="quackgrass_coverage" name="quackgrass_percent" placeholder="% Coverage /1,000 sq. ft" class="coverage-input form-control">
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="goosegrass" name="goosegrass" value="goosegrass">
                            <label for="goosegrass">Goosegrass</label>
                            <input type="text" id="goosegrass_coverage" name="goosegrass_percent" placeholder="% Coverage /1,000 sq. ft" class="coverage-input form-control">
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="poa_trivialis" name="poa_trivialis" value="poa_trivialis">
                            <label for="poa_trivialis">Poa Trivialis</label>
                            <input type="text" id="poa_trivialis_coverage" name="poa_trivialis_percent" placeholder="% Coverage /1,000 sq. ft" class="coverage-input form-control">
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="bentgrass" name="bentgrass" value="bentgrass">
                            <label for="bentgrass">Bentgrass</label>
                            <input type="text" id="bentgrass_coverage" name="bentgrass_percent" placeholder="% Coverage /1,000 sq. ft" class="coverage-input form-control">
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="tall_fescue" name="tall_fescue" value="tall_fescue">
                            <label for="tall_fescue">Tall Fescue</label>
                            <input type="text" id="tall_fescue_coverage" name="tall_fescue_percent" placeholder="% Coverage /1,000 sq. ft" class="coverage-input form-control">
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="yellow_nutsedge" name="yellow_nutsedge" value="yellow_nutsedge">
                            <label for="yellow_nutsedge">Yellow Nutsedge</label>
                            <input type="text" id="yellow_nutsedge_coverage" name="yellow_nutsedge_percent" placeholder="% Coverage /1,000 sq. ft" class="coverage-input form-control">
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="orchardgrass" name="orchardgrass" value="orchardgrass">
                            <label for="orchardgrass">Orchardgrass</label>
                            <input type="text" id="orchardgrass_coverage" name="orchardgrass_percent" placeholder="% Coverage /1,000 sq. ft" class="coverage-input form-control">
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="other_grasses" name="other_grasses" value="other_grassy">
                            <label for="other_grassy">Other</label><br>
                            <input type="text" id="other_grassy_coverage" name="other_grasses_percent" placeholder="% Coverage /1,000 sq. ft" class="coverage-input form-control">
                        </div>

                        <!-- field for Control/Treatment -->
                        <div class="mb-3">
                            <label for="control_grassy" class="form-label">Control/Treatment</label>
                            <input type="text" class="form-control" id="control_grassy" name="crabgrass_control">
                        </div>

                    </div>

                    <!-- field for Insects -->
                    <!--Grubs 		 
                        Sod webworm  
                        Chinch bug 	 
                        Bluegrass Billbug 
                        Other/comment: 
                        checkboxes -->
                    <div class="mb-3">
                        <label for="pest" class="form-label">Insects</label>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="grubs" name="insects_grubs" value="grubs">
                            <label for="grubs">Grubs</label>
                            <input type="text" id="grubType" name="insects_grubs_type" placeholder="Grub Type (optional)" class="coverage-input form-control">
                            <input type="text" id="grubs_coverage" name="insects_grubs_percent" placeholder="% Coverage /1,000 sq. ft" class="coverage-input form-control">
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="sod_webworm" name="insects_sod_webworm" value="sod_webworm">
                            <label for="sod_webworm">Sod Webworm</label>
                            <input type="text" id="sod_webworm_coverage" name="insects_sod_webworm_percent" placeholder="% Coverage /1,000 sq. ft" class="coverage-input form-control">
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="chinch_bug" name="insects_chinch_bug" value="chinch_bug">
                            <label for="chinch_bug">Chinch Bug</label>
                            <input type="text" id="chinch_bug_coverage" name="insects_chinch_bug_percent" placeholder="% Coverage /1,000 sq. ft" class="coverage-input form-control">
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="bluegrass_billbug" name="insects_billbug" value="bluegrass_billbug">
                            <label for="bluegrass_billbug">Bluegrass Billbug</label>
                            <input type="text" id="bluegrass_billbug_coverage" name="insects_billbug_percent" placeholder="% Coverage /1,000 sq. ft" class="coverage-input form-control">
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="other_insects" name="other_insects" value="other_insects">
                            <label for="other_insects">Other</label><br>
                            <input type="text" id="other_insects_coverage" name="other_insects_percent" placeholder="% Coverage /1,000 sq. ft" class="coverage-input form-control">
                        </div>

                        <!-- field for Control/Treatment -->
                        <div class="mb-3">
                            <label for="control_insects" class="form-label">Control/Treatment</label>
                            <input type="text" class="form-control" id="control_insects" name="insects_control">
                        </div>

                    </div>

                    <!-- field for Disease -->
                    <div class="mb-3">
                        <label for="disease" class="form-label">Disease</label>
                        <input type="text" class="form-control" id="disease" name="disease_present">

                            <!-- field for Affected Species -->
                        <!--Tall Fescue 		 
                            Perennial Ryegrass  
                            Kentucky Bluegrass 	 
                            Fine Fescue
                            Other/comment: 
                            checkboxes -->
                        <div class="mb-3">
                            <label for="pest" class="form-label">Affected Species</label>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="disease_tall_fescue" name="disease_tall_fescue" value="disease_tall_fescue">
                                <label for="disease_tall_fescue">Tall Fescue</label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="perennial_ryegrass" name="disease_perennial_ryegrass" value="perennial_ryegrass">
                                <label for="perennial_ryegrass">Perennial Ryegrass</label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="kentucky_bluegrass" name="disease_kentucky_bluegrass" value="kentucky_bluegrass">
                                <label for="kentucky_bluegrass">Kentucky Bluegrass</label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="fine_fescue" name="disease_fine_fescue" value="fine_fescue">
                                <label for="fine_fescue">Fine Fescue</label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="other" name="disease_other" value="other">
                                <label for="other">Other</label><br>
                            </div>

                        </div>

                        <!-- field for % Area of Turf Infected (select) -->
                        <div class="mb-3">
                            <label for="disease_turf_percentage" class="form-label
                            ">% Area of Turf Infected</label>
                            <select class="form-select" id="disease_turf_percentage" name="disease_percent">
                                <option value="0">0-10%</option>
                                <option value="10">11-20%</option>
                                <option value="20">21-30%</option>
                                <option value="30">31-40%</option>
                                <option value="40">41-50%</option>
                                <option value="50">51-60%</option>
                                <option value="60">61-70%</option>
                                <option value="70">71-80%</option>
                                <option value="80">81-90%</option>
                                <option value="90">91-100%</option>
                            </select>
                        </div>

                        <!-- field for Control/Treatment -->
                        <div class="mb-3">
                            <label for="control_disease" class="form-label">Control/Treatment</label>
                            <input type="text" class="form-control" id="control_disease" name="disease_control">
                        </div>

                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <!-- submit button -->
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
      // Function to toggle the display of coverage input based on the checkbox
      function toggleCoverageInput(checkboxId, inputId) {
        const checkbox = document.getElementById(checkboxId);
        const input = document.getElementById(inputId);
        checkbox.addEventListener('change', function () {
          input.style.display = checkbox.checked ? 'block' : 'none';
        });
      }
  
      toggleCoverageInput('dandelion', 'dandelion_coverage');
      toggleCoverageInput('narrowleaf_plantain', 'narrowleaf_plantain_coverage');
      toggleCoverageInput('broadleaf_plantain', 'broadleaf_plantain_coverage');
      toggleCoverageInput('heal_all', 'heal_all_coverage');
      toggleCoverageInput('common_chickweed', 'common_chickweed_coverage');
      toggleCoverageInput('oxalis', 'oxalis_coverage');
      toggleCoverageInput('spurge', 'spurge_coverage');
      toggleCoverageInput('knotweed', 'knotweed_coverage');
      toggleCoverageInput('ground_ivy', 'ground_ivy_coverage');
      toggleCoverageInput('violet', 'violet_coverage');
      toggleCoverageInput('mouse_ear_chickweed', 'mouse_ear_chickweed_coverage');
      toggleCoverageInput('clover', 'clover_coverage');
      toggleCoverageInput('speedwell', 'speedwell_coverage');
      toggleCoverageInput('other_broadleaf', 'other_broadleaf_coverage');
      toggleCoverageInput('crabgrass', 'crabgrass_coverage');
      toggleCoverageInput('poa_annua', 'poa_annua_coverage');
      toggleCoverageInput('quackgrass', 'quackgrass_coverage');
      toggleCoverageInput('goosegrass', 'goosegrass_coverage');
      toggleCoverageInput('poa_trivialis', 'poa_trivialis_coverage');
      toggleCoverageInput('bentgrass', 'bentgrass_coverage');
      toggleCoverageInput('tall_fescue', 'tall_fescue_coverage');
      toggleCoverageInput('yellow_nutsedge', 'yellow_nutsedge_coverage');
      toggleCoverageInput('orchardgrass', 'orchardgrass_coverage');
      toggleCoverageInput('other_grasses', 'other_grassy_coverage');
      toggleCoverageInput('grubs', 'grubs_coverage');
      toggleCoverageInput('grubs', 'grubType');
      toggleCoverageInput('sod_webworm', 'sod_webworm_coverage');
      toggleCoverageInput('chinch_bug', 'chinch_bug_coverage');
      toggleCoverageInput('bluegrass_billbug', 'bluegrass_billbug_coverage');
      toggleCoverageInput('other_insects', 'other_insects_coverage');

    });
</script>

    <!-- Include parts/footer.html -->
    {% include 'parts/footer.html' %}