{% include 'parts/header.html' %}
<div class="row">
    <div class="col-3">
        <!-- material design edit icon -->

        <div class="field-lede">
            <!-- Back to Fields -->
            <a href="/fields" class="btn mb-2 btn-outline-secondary">&laquo; Fields</a>
            <h2> {{ field.name }}</h2>
            <address>{{field.address }} {{field.city}} , {{field.state}} {{field.zip}}</address>
            <!-- button group for view or edit-->
            <div class="btn-group" role="group">
                <a class="btn btn-secondary {% if edit == true %} active {% endif %}"
                    href="/fields/{{ field.id }}/edit">Edit</a>
                <a class="btn btn-secondary {% if edit == false %} active {% endif %}"
                    href="/fields/{{ field.id }}">History</a>
            </div>
        </div>
    </div>

    <div class="col-9">
        <form method="post" action="" enctype="multipart/form-data">
            <div class="row">
                <div class="col-12">
                    <h3>Submit Topdressing Report</h3>
                </div>

                <!-- topdressing form: date, rate, material composition  -->

                <div class="col-12">

                    <!-- field for date -->
                    <div class="mb-3">
                        <label for="date" class="form-label">Date</label>
                        <input type="date" class="form-control" id="date" name="date">
                    </div>

                    <!-- field for rate -->
                    <div class="mb-3">
                        <label for="rate" class="form-label">Rate</label>
                        <input type="text" class="form-control" id="rate" name="topdressing_rate">
                    </div>

                    <!-- field for material composition -->
                    <div class="mb-3">
                        <label for="material_composition" class="form-label">Material Composition</label>
                        <input type="text" class="form-control" id="material_composition" name="topdressing_composition">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <!-- submit button -->
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>


<!-- Include parts/footer.html -->
{% include 'parts/footer.html' %}